@import '../../utils/common.scss';

#progressbar {
    background-color: $medical-gray;
    border-radius: 13px;
    width: 100%;
}
  
#progressbar>div {
    background-color: $medical-green;
    border-radius: 10px;
    height: 2px;
    transition: width 2s;
}