@import '../../utils/common.scss';

.question-container__form {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
}

.question-container__form-buttons {
    align-items: flex-start;
    display: flex;
    flex: 0 1 0px;
    font-size: large;
    justify-content: space-evenly;
    width: 100%;
}

.question-container__question {
    align-items: flex-end;
    display: flex;
    flex: 0 1 100px;
    font-family: Montserrat-Extra-Bold, Arial, Helvetica, sans-serif;
    margin: 20px;
    position: relative;
}

.question-container__question-text {
    font-size: x-large;
    margin-bottom: 20px;
}

.question-container__question-border {
    background-color: $medical-gray;
    bottom: 0;
    height: 4px;
    position: absolute;
    width: 40px;
}