@import '../../utils/common.scss';

a:link, a:visited {
    color: $medical-green;
    font-family: Montserrat-Regular, Arial, Helvetica, sans-serif;
    font-size: large;
}

.footer__action-button {
    display: flex;
    height: 72px;
    width: 100%;

    @media (max-width: 768px) {
        margin: 12px 0;
        
    }
}

.footer__action-button__container {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    margin: 12px 24px 12px 24px;
}