@import '../../utils/common.scss';
.form-header {
    width:100%;
}
.form-header__content {
    align-items: center;
    display: flex;
    margin-top: 10px;
    min-height: 60px;
}
.form-header__icon {
    margin: 0 0 0 12px;
    :hover {
        cursor: pointer;
    }
}
.form-header__title {
    flex: 1 0 auto;
    font-family: Montserrat-Medium, Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
}