@import '../../utils/common.scss';
.form-header {
    width:100%;
}
.form-header__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 60px;
    margin-top: 10px;
}
.form-header__icon {
    margin: 0 0 0 12px;
    :hover {
        cursor: pointer;
    }
}
.form-header__title {
    flex: 1 0 auto;
    text-align: center;
    font-size: large;
    font-family: Montserrat-Medium, Arial, Helvetica, sans-serif;
}