.outcome-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.outcome-container__title {
    font-family: Montserrat-Extra-Bold, Arial, Helvetica, sans-serif;
    font-size: x-large;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.outcome-container__text {
    font-family: Montserrat-Regular, Arial, Helvetica, sans-serif;
    font-size: medium;
}

.outcome_container__action-button {
    height: 72px;
    display: flex;
    width: 100%;

    @media (max-width: 768px) {
        margin: 12px 0;
        
    }
}