@import 'utils/common.scss';

.App {
  align-items: center;
  background-color: $medical-green;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}
