@import '../../utils/common.scss';

.container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 6px;  
    height:600px;
    width: 400px;
    padding: 10px;
    margin: 10px;
    // flex: 1 0 auto;

    @media (max-width: 768px) {
        padding: 0;
        margin: 0;
        border-radius: 0;
        flex: 1 0 auto;
        height: 100%;
        width: 100%;
    }
}